In [1]:
string = "오늘 뭐 먹냐"
print(string)

오늘 뭐 먹냐

In [2]:
"점심" * 3

'점심점심점심'

"오늘 점심 뭐 먹지?"
### 모든 언어에는 순서가 있다. 
0. 오
1. 늘
3 " "
4. 점 
...

In [4]:
"오늘 점심 뭐 먹지?"[6]

'뭐'

In [5]:
"오늘 점심 뭐 먹지?"[3:5]

'점심'

In [6]:
"apple"[3]

'l'

In [9]:
"오늘 점심 뭐 먹지?"[-4:]

' 먹지?'

In [11]:
menu = "김치 볶음밥"

print("오늘 점심 메뉴는 %s 입니다." % menu)

오늘 점심 메뉴는 김치 볶음밥 입니다.

In [12]:
lyrics ="sorry sorry sorry sorry sorry sorry sorry 내가 내가 내가 내가 내가 네게 네게 네게"

In [13]:
lyrics.count("sorry")

7

In [14]:
lyrics.upper()

'SORRY SORRY SORRY SORRY SORRY SORRY SORRY 내가 내가 내가 내가 내가 네게 네게 네게'

In [15]:
lyrics.lower()

'sorry sorry sorry sorry sorry sorry sorry 내가 내가 내가 내가 내가 네게 네게 네게'

In [16]:
lyrics.find("sorry")

0

In [17]:
lyrics.replace("sorry","미안")

'미안 미안 미안 미안 미안 미안 미안 내가 내가 내가 내가 내가 네게 네게 네게'

In [18]:
lyrics.split()

['sorry',
 'sorry',
 'sorry',
 'sorry',
 'sorry',
 'sorry',
 'sorry',
 '내가',
 '내가',
 '내가',
 '내가',
 '내가',
 '네게',
 '네게',
 '네게']

In [19]:
lyrics.split("가")

['sorry sorry sorry sorry sorry sorry sorry 내',
 ' 내',
 ' 내',
 ' 내',
 ' 내',
 ' 네게 네게 네게']

## 명제 = 참or 거짓 을 판별 할 수 있는 문장.
==, >, <, >=, <=, !=

In [21]:
type(1+1 == 2)

bool

In [23]:
 1+2 !=2

True

명제 and 명제 = 두 명제가 모두 참일때만 참 
명제 or 명제 = 두 명제중 하나만 참이여도 참

### 조건문

if 명제 : 
    명제가 참일 경우에 실행되는 코드
else 명제:
    명제가 거짓일 경우 실행되는 코드

In [34]:
money = 5000
if money >= 2500:
    print("버스를 타고 간다")
else:
    print("걸어서 간다")

버스를 타고 간다

In [36]:
money = 7000

if (oney >= 5000) and (money < 10000):
     print("편의점을 간다.")
elif money >= 10000:
    print("식당을 간다.")
else:
    print("굶어라")

편의점을 간다.

if 명제1 : 
    명제1이 참일 경우에 실행되는 코드
    
elif 명제2:
    명제 1은 거짓이지만 명제 2가 참일때 실행되는 코드
else:
    명제가 거짓일 경우 실행되는 코드

###리스트, 튜플

리스트 : [] 조작이 가능하다.(수정이 가능) 
튜플 : () 조작이 불가능 (수정 불가능)

In [37]:
a = [1,2,3,4,5]
b = ("가", "나")
c = [6,7,a]
print (a)
print (b)
print (c)

[1, 2, 3, 4, 5]
('가', '나')
[6, 7, [1, 2, 3, 4, 5]]

### 원소 추가

In [38]:
"짜장" + "면"

'짜장면'

In [39]:
a = ["짜","장"]
a.append("면")
a

['짜', '장', '면']

In [43]:
a.insert(0,"간")
a

['간', '간', '짜', '장', '면']

In [40]:
b= [1,2,[3,4]]
b[2][1]

4

In [47]:
### del , remove
del a[0]
a

['짜', '장', '면']

In [48]:
a.remove("면")
a

['짜', '장']

In [49]:
### 교체 - 인덱스에 다른 값을 할당해 주면 알아서 교체.
a[1]= "왕"
a

['짜', '왕']

In [50]:
m= "간짜장면"
m.replace("간", "")

'짜장면'

In [52]:
k=["가","다","나","마","라"]
k

['가', '다', '나', '마', '라']

In [54]:
k.reverse()
k

['가', '다', '나', '마', '라']

In [56]:
k.sort()
k

['가', '나', '다', '라', '마']

In [58]:
k.sort(reverse = True)
k

['마', '라', '다', '나', '가']

In [61]:
len("짜장면은 맛있다.")

9

In [63]:
len(k)

5

In [66]:
fruit = ["사과","바나나","키위","망고","파인애플"]

In [71]:
("사과" in fruit)and("바나나"in fruit)

True

### 반복문
while 명제 : 
    명제가 참인 한 실행되는 코드
    if 명제
    break 조건

for 변수 in 인덱싱이 가능한 자료형:
    코드

In [72]:
n = 1 
while n < 3:
    print(n)
    n = n + 1

1
2

In [74]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [83]:
for i in range(1,10):
    print( ("3 X {} = {}").format(i, 3*i))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [85]:
for i in range(1,10):
    for w in range(1,10):
        print("{} X {} = {}".format(i, w, i*w))

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### EX 반복문
- 10,000보다 큰 57과 83의 공배수 중 가장 작은수를 출력. 
- 공배수 : 57과 83을 모두 약수로 가지는 수.

In [96]:
n = 10000
while (n%57!= 0) or (n%83!=0):
    n= n+1
print(n)

14193

In [97]:
n = 10000
while True:
    if (n%57 == 0) and ( n%83 == 0):
        break
    else:
        n= n+1
print(n)

14193

### 예외처리
try:
    코드
except:
    코드가 에러가 날 경우 실행되는 코드.

In [99]:
for i in range(10):
    print(1/(i-7))

-0.14285714285714285
-0.16666666666666666
-0.2
-0.25
-0.3333333333333333
-0.5
-1.0

ZeroDivisionError: division by zero

In [100]:
for i in range(10):
    try:
        print(i/(i-7))
    except:
        print("beep")

-0.0
-0.16666666666666666
-0.4
-0.75
-1.3333333333333333
-2.5
-6.0
beep
8.0
4.5

In [101]:
a= int(input("3의 배수를 입력하시오: "))
print(a)

3의 배수를 입력하시오: 5
5

In [103]:
a= int(input("3의 배수를 입력하시오: "))
if a % 3 == 0:
    pass
else:
    raise Exception("3의 배수가 아닙니다.")
print(a)

3의 배수를 입력하시오: 3
3

### Dictonary
{ "Key": "Value"} : 키는 겹칠수 없고 하나의 키에는 하나의 값만 입력 가능.
Key는 수정 불가 but Value 는 수정 가능.

In [105]:
lst = {"A":"가", "B":"나", "C":"다", "D":"라", "E":"마"}

In [110]:
lst["B"]

'나'

In [112]:
csb ={"Name": ["홍길동","임꺽정","장길산"], "Age": [20,35,52], "Height": [180,175,190]}

In [113]:
csb["Name"]

['홍길동', '임꺽정', '장길산']

In [114]:
csb.keys()

dict_keys(['Name', 'Age', 'Height'])

In [116]:
csb.values()

dict_values([['홍길동', '임꺽정', '장길산'], [20, 35, 52], [180, 175, 190]])

In [118]:
csb["sex"]= ["M","M","M"]
csb

{'Name': ['홍길동', '임꺽정', '장길산'],
 'Age': [20, 35, 52],
 'Height': [180, 175, 190],
 'sex': ['M', 'M', 'M']}

In [119]:
del csb["sex"]
csb

{'Name': ['홍길동', '임꺽정', '장길산'], 'Age': [20, 35, 52], 'Height': [180, 175, 190]}

In [120]:
for i in csb:
    print(i)

Name
Age
Height

In [123]:
csbs ={"Name": ["홍길동","임꺽정","장길산"], 
      "Age": [20,35,52], 
      "Height": [180,175,190],
      "FSize": [240,260,280]}
### for 문을 사용해 임꺽정, 홍길동, 장길산의 나이 평균, 키 평균, 발 사이즈 평군을 구해주세요.

In [131]:
averages = []
for i in csbs:
    try:
        n = 0
        for w in csbs[i]:
            n = n + w
            averages.append(n/len(csbs[i]))
    except:
        pass
    
csbs["평균들"] = averages
csbs

{'Name': ['홍길동', '임꺽정', '장길산'],
 'Age': [20, 35, 52],
 'Height': [180, 175, 190],
 'FSize': [240, 260, 280],
 '평균들': [6.666666666666667,
  18.333333333333332,
  35.666666666666664,
  60.0,
  118.33333333333333,
  181.66666666666666,
  80.0,
  166.66666666666666,
  260.0]}

In [130]:
nai = [20,35,52]
n= 0
for i in nai:
    n = n + i
print(n/len(nai))

35.666666666666664

In [ ]:
averages = []
for i in csbs:
    n = 0
    for w in csbs[i]:
        n = n + w
        averages.append(n/len(csbs[i]))
    
csbs["평균들"] = averages
csbs