In [211]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np
import time
from tqdm.notebook import tqdm
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup as bs
import requests as req
from selenium.webdriver.common.action_chains import ActionChains

In [212]:
data = pd.read_csv('./storeTitle.csv',encoding='utf-8')
data
data

     Unnamed: 0             상호명
0             0        애플하우스 이수
1             1       원조부안집 이수점
2             2              세녹
3             3            스시로로
4             4            방배김밥
..          ...             ...
495         495  한앤둘치킨호프 이수역직영점
496         496       매드포갈릭 사당점
497         497            민속떡집
498         498            전원일기
499         499    고양이부엌 방배사이길점

[500 rows x 2 columns]

In [213]:


a = data.values
a[:,1][1]

'원조부안집 이수점'

In [214]:
title = data.values

len(title)

500

In [226]:
print(title[:,1][])

역전할머니맥주 이수역점

In [216]:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [217]:
driver.get('https://www.google.co.kr/')
driver.maximize_window()
time.sleep(1)

In [218]:
home = driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
home.send_keys('시작')
home.send_keys(Keys.ENTER)
time.sleep(2)

In [219]:
result_list = []

for i in range(5):
    search = driver.find_element_by_xpath('//*[@id="tsf"]/div[1]/div[1]/div[2]/div/div[2]/input')
    name = title
    search.send_keys(Keys.CONTROL + "a")
    search.send_keys(Keys.DELETE)
    search.click()
    time.sleep(2)
    search.send_keys('"{}"'.format(title[:,1][i]) + '"영양성분표"')
    time.sleep(3)
    search.send_keys(Keys.ENTER)
    time.sleep(2)
    result = driver.find_element_by_xpath('//*[@id="result-stats"]')
    for i in result.text:
        rs = result.text
        rs = rs.replace('검색결과','')
        rs = rs.replace('약','')
        rs = rs.replace(' ','')
        rs = rs.replace('개','')
        result_list.append(rs)

In [220]:
result_list

['0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.19초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '0(0.21초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '1(0.18초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '4(0.22초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)',
 '5(0.26초)']