In [11]:
import pandas as pd

In [12]:
data = {'2020' : [9668465, 3391946, 2942828, 1450062],
        '2010' : [10312545, 3567910, 2758296, 1454636]}
df = pd.DataFrame(data)
df

      2020      2010
0  9668465  10312545
1  3391946   3567910
2  2942828   2758296
3  1450062   1454636

#### 1. 인덱스 설정
    1-1. 데이터의 인덱스가 '기본'인 경우 '원하는 인덱스'로 변경  
    - 데이터프레임_변수명.index = [원하는 인덱스(행의 수 동일하게)]  
---
    1-2. 데이터의 인덱스를 '설정'하여 데이터프레임 만들기
    - df = pd.DataFrame(data, index = [원하는 인덱스(행의 수 동일하게)])

In [13]:
df.index = ["서울", "부산", "인천" , "광주",]
df

       2020      2010
서울  9668465  10312545
부산  3391946   3567910
인천  2942828   2758296
광주  1450062   1454636

In [14]:
df = pd.DataFrame(data, index = ["서울", "부산", "인천" , "광주"])
df

       2020      2010
서울  9668465  10312545
부산  3391946   3567910
인천  2942828   2758296
광주  1450062   1454636

#### 2. 인덱스 지정하여 생성(리스트 구조 활용)
    - 데이터의 형태를 리스트로 설정하여 DataFrame에 각각 넣기
    - df2 = pd.DataFrame(데이터_리스트, index = 인덱스_리스트, columns=header_리스트)

In [15]:
data2 = [[9668465, 3391946, 2942828, 1450062],
        [10312545, 3567910, 2758296, 1454636]]
ind = [ '2020','2010']
col = ["서울", "부산", "인천" , "광주"]
df2 = pd.DataFrame(data2, index = ind, columns=col)
df2

            서울       부산       인천       광주
2020   9668465  3391946  2942828  1450062
2010  10312545  3567910  2758296  1454636

##### 2. 데이터프레임 전치(transpose)
    - 데이터프레임_변수명.T

In [16]:
df2.T

       2020      2010
서울  9668465  10312545
부산  3391946   3567910
인천  2942828   2758296
광주  1450062   1454636

##### 3. Values, Index, Columns 확인하기

In [17]:
print(f"""
데이터프레임의 값 확인
{df.values}

데이터프레임의 인덱스 확인
{df.index}

데이터프레임의 컬럼 확인
{df.columns}""")

데이터프레임의 값 확인
[[ 9668465 10312545]
 [ 3391946  3567910]
 [ 2942828  2758296]
 [ 1450062  1454636]]

데이터프레임의 인덱스 확인
Index(['서울', '부산', '인천', '광주'], dtype='object')

데이터프레임의 컬럼 확인
Index(['2020', '2010'], dtype='object')

##### 4. 인덱싱
    - df["원하는_키값"] : 데이터프레임 형태X
    - df[["원하는_키값]] : 데이터프레임 형태

In [18]:
# 열 인덱스 확인하기(열 인덱싱)
df[["2020", "2010"]]

       2020      2010
서울  9668465  10312545
부산  3391946   3567910
인천  2942828   2758296
광주  1450062   1454636

In [19]:
#DataFrame 행 슬라이싱
df[0:2]

       2020      2010
서울  9668465  10312545
부산  3391946   3567910

In [20]:
df['서울':'부산']

       2020      2010
서울  9668465  10312545
부산  3391946   3567910

### DataFrame 슬라이싱 -> 인덱싱
 - loc[]인덱서 : 실제 인덱스 이름을 사용하여 행을 가지고 올 때 사용
 - iloc[] 인덱서 : numpy 의 array 인덱싱 방식으로 행을 가지고 올 때 사용

In [22]:
df.loc['부산':'인천','2020':'2010']

       2020     2010
부산  3391946  3567910
인천  2942828  2758296

In [23]:
df.iloc[3]

2020    1450062
2010    1454636
Name: 광주, dtype: int64

In [24]:
# Pandas Boolean 인덱싱
df['2010']>= 2500000

서울     True
부산     True
인천     True
광주    False
Name: 2010, dtype: bool

In [25]:
df[df['2010']>= 2500000]

       2020      2010
서울  9668465  10312545
부산  3391946   3567910
인천  2942828   2758296

In [26]:
# csv파일 불러오기
population = pd.read_csv('population.csv', encoding='utf-8')
population

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb5 in position 0: invalid start byte

In [28]:
population = pd.read_csv('population.csv',encoding_errors='ignore')
population

  Unnamed: 0  Unnamed: 1     2015       2010       2005     2000
0        NaN         NaN  9904312  9631482.0  9762546.0  9853972
1          λ         NaN  3448737        NaN        NaN  3655437
2          õ         NaN  2890451  2632035.0        NaN  2466338
3          뱸         NaN  2466052  2431774.0  2456016.0  2473990

In [33]:
population=pd.read_csv('./population.csv',encoding='cp949')
population

   도시   지역     2015       2010       2005     2000
0  서울  수도권  9904312  9631482.0  9762546.0  9853972
1  부산  경상권  3448737        NaN        NaN  3655437
2  인천  수도권  2890451  2632035.0        NaN  2466338
3  대구  경상권  2466052  2431774.0  2456016.0  2473990

In [32]:
population=pd.read_csv('./population.csv',encoding='euc-kr')
population

   도시   지역     2015       2010       2005     2000
0  서울  수도권  9904312  9631482.0  9762546.0  9853972
1  부산  경상권  3448737        NaN        NaN  3655437
2  인천  수도권  2890451  2632035.0        NaN  2466338
3  대구  경상권  2466052  2431774.0  2456016.0  2473990