# Pandas 라이브러리
 - 데이터 조작 및 분석을 위한 라이브러리

### 1차원, 2차원 데이터
 - Series Class [1차원]: (index + values)
 - DataFrame Class [2차원]: 행과 열을 가지는 표와 같은 형태

In [1]:
import pandas as pd

In [2]:
# 시리즈 사용
population = pd.Series([9668465,3391946,2942828,1450062], 
                       index = ['서울','부산','인천','광주']) # index값 따로 지정 가능
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
dtype: int64

In [3]:
# .values 값 확인
population.values

array([9668465, 3391946, 2942828, 1450062], dtype=int64)

In [4]:
# .index  인덱스 값 확인
population.index

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [5]:
# .dtype Series 데이터의 데이터값 확인
population.dtype

dtype('int64')

In [6]:
# .name 데이터의 이름 명명
population.name = '인구'
population.index.name = '도시'
population

도시
서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [7]:
#series 연산
print(population/100)

도시
서울    96684.65
부산    33919.46
인천    29428.28
광주    14500.62
Name: 인구, dtype: float64

In [8]:
#series  indexing 
population[1],population['서울']

(3391946, 9668465)

In [9]:
population[3],population['광주']

(1450062, 1450062)

In [10]:
population[[0,3,1]]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [11]:
population[['서울','광주','부산']]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [12]:
# Series Boolena 인덱싱
population >= 2500000

도시
서울     True
부산     True
인천     True
광주    False
Name: 인구, dtype: bool

In [13]:
population[population>=2500000]

도시
서울    9668465
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [14]:
population[population>=3000000]

도시
서울    9668465
부산    3391946
Name: 인구, dtype: int64

In [15]:
# 인구수가 500만 이하 250만 이상인 도시 구하기
population[(population>=250000)&(population<=5000000)]

도시
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [16]:
# Series slicing
population[1:3]
population['부산':'인천'] # 문자열일때는 합당한 값을 그대로

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [17]:
# Dictonary 객체로 Series 생성
data ={'피카츄':9631,'꼬부기':3393,
       '파이리':1490,'이상해씨':2632}
pokemon = pd.Series(data)
pokemon

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    2632
dtype: int64

In [18]:
data2 = {'피카츄':9904,'꼬부기':3448,
         '이브이':2466,'뮤':2890}
pokemon2 = pd.Series(data2)
pokemon2

피카츄    9904
꼬부기    3448
이브이    2466
뮤      2890
dtype: int64

In [19]:
attack = pokemon2-pokemon
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [20]:
attack.notnull()

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

In [21]:
attack[attack.notnull()]

꼬부기     55.0
피카츄    273.0
dtype: float64

In [22]:
attack[attack.isnull()]

뮤      NaN
이브이    NaN
이상해씨   NaN
파이리    NaN
dtype: float64

In [23]:
# 레벨업해서 올라간 공격력의 증가율(%)을 계산
rp = (pokemon2-pokemon)/pokemon*100
rp

꼬부기     1.620984
뮤            NaN
이브이          NaN
이상해씨         NaN
파이리          NaN
피카츄     2.834597
dtype: float64

In [24]:
rp[rp.notnull()]

꼬부기    1.620984
피카츄    2.834597
dtype: float64

In [25]:
# Series 의 데이터 갱신, 추가, 삭제
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [26]:
attack['파이리']= 1616
attack['리자몽']= 8888
del attack['이상해씨']
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
파이리    1616.0
피카츄     273.0
리자몽    8888.0
dtype: float64