# 카카오맵
 - 장소, 별점 수집
 - kakaomap 에 키워드 넣어 검색하기
 - 장소 ,이름, 별점 수집

In [10]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
from tqdm.notebook import tqdm
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup as bs
import requests as req
from selenium.webdriver.common.action_chains import ActionChains

In [11]:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [12]:
driver.get('https://map.kakao.com/')
driver.maximize_window()

In [13]:
click_blue = driver.find_element_by_css_selector('body > div.coach_layer.coach_layer_type1 > div > div > div')
click_blue.click()

In [14]:
actions = ActionChains(driver)
search = driver.find_element_by_xpath('//*[@id="search.keyword.query"]')
search.send_keys('총신대입구역 치킨집')
search.send_keys(Keys.ENTER)
time.sleep(2)
more = driver.find_element_by_xpath('//*[@id="info.search.place.more"]')
actions.move_to_element(more)
actions.click(more)
actions.perform()
time.sleep(2)

In [15]:
name_list = []
star_list = []

while True:
    try:
        for i in range(1,6):
            page = driver.find_element_by_xpath('//*[@id="info.search.page.no{}"]'.format(i))
            page.click()
            time.sleep(2)
            name = driver.find_elements_by_css_selector('strong.tit_name > a.link_name')
            star = driver.find_elements_by_css_selector('span.score > em')
            for i in name:
                name_list.append(i.text)
            for i in star:
                star_list.append(i.text) 
                
            time.sleep(2)
        more = driver.find_element_by_css_selector('#info\.search\.page\.next')
        more.click()
        time.sleep(2)
    except:
        break

In [16]:
data = {'상호명': name_list, '별점': star_list}

In [19]:
mapdata = pd.DataFrame(data)
mapdata

              상호명   별점
0         이수통닭 본점  3.0
1       영풍치킨 사당본점  2.9
2     양계장집아들 방배본점  2.3
3       BHC치킨 이수점  2.1
4         누룽지통닭굼터  4.4
..            ...  ...
150       유유숯불바베큐  0.0
151     또래오래 낙성대점  5.0
152         소프트치킨  5.0
153         치킨&곱창  4.0
154  나라라파닭치킨 인헌동점  0.0

[155 rows x 2 columns]

In [18]:
# mapdata.to_excel('총신대역치킨집.xlsx', encoding = 'utf-8-star')